.fa-check {
    color: green;
}

.fa-times {
    color:red;
}

.option-btn {
    padding: 4px 8px;
}

.pagination {
    display: block;
    text-align: center;
}

.btn-create {
    margin-bottom: 20px;
}

.table th, td {
    text-align: center;
    vertical-align: middle !important;
}

#delete-form {
    color: red;
    margin-top: 20px;
}
