.fa-check {
    color: green;
}

.fa-times {
    color:red;
}

.option-btn {
    padding: 4px 8px;
}

.pagination {
    display: block;
    text-align: center;
}

.btn-create {
    margin-bottom: 20px;
}

.table > thead > tr > th, tbody {
    text-align: center;
}

#background-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    top: 0;
    z-index: 9999;
    padding: 0px;
    opacity: 0.8;
    display: none;
}

#modal {
    position: absolute;
    text-align: center;
    width: 50%;
    height: 100px;
    padding-top: 1%;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#btn-close {
    cursor: pointer;
    position: absolute;
    color: #444;
    right: 0;
    top: 0;
    padding: 5px 5px 0px 0px;
}

#btn-close:hover {
    color: #888;
}

#delete-form {
    color: red;
    margin-top: 20px;
}
