<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <title>PDIC</title>

        <link href="{% static 'bower/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'bower/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">
        <link href="{% static 'bower/startbootstrap-sb-admin-2/dist/css/timeline.css' %}" rel="stylesheet">
        <link href="{% static 'bower/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css' %}" rel="stylesheet">
        <link href="{% static 'bower/morrisjs/morris.css' %}" rel="stylesheet">
        <link href="{% static 'bower/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">

        <script src="{% static 'bower/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bower/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bower/metisMenu/dist/metisMenu.min.js' %}"></script>
        <script src="{% static 'bower/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'bower/morrisjs/morris.min.js' %}"></script>
        <script src="{% static 'bower/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js' %}"></script>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">PDIC - Rotas Estratégicas Setoriais</a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="{% url 'pdic:list-rotas' %}"><i class="fa fa-fw fa-dashboard"></i> Rotas</a>
                            </li>
                            <li>
                                <a href="{% url 'pdic:list-temas' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Temas</a>
                            </li>
                            <li>
                                <a href="{% url 'pdic:list-tarefas' %}"><i class="fa fa-fw fa-table"></i> Tarefas</a>
                            </li>
                            <li>
                                <a href="{% url 'pdic:list-visoes' %}"><i class="fa fa-fw fa-edit"></i> Visões</a>
                            </li>
                            <li>
                                <a href="{% url 'pdic:list-fatores' %}"><i class="fa fa-fw fa-wrench"></i> Fatores</a>
                            </li>
                            <li>
                                <a href="{% url 'pdic:list-responsaveis' %}"><i class="fa fa-fw fa-file"></i> Responsáveis</a>
                            </li>
                            <li>
                                <a href="{% url 'pdic:list-acoes' %}"><i class="fa fa-fw fa-file"></i> Ações</a>
                            </li>
                            <li>
                                <a id="charts" href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-bar-chart-o"></i> Gráficos <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo" class="collapse nav nav-second-level">
                                    <li>
                                        <a href="#">Conhecimento Chave por Tendência</a>
                                    </li>
                                    <li>
                                        <a href="#">Ações e porcentagem de conclusão</a>
                                    </li>
                                    <li>
                                        <a href="#">Tarefa e porcentagem de conclusão</a>
                                    </li>
                                    <li>
                                        <a href="#">Tendências por rota</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
