{% extends 'base.html' %}
{% block content %}
    <h1>Lista de temas</h1>
    <a href="{% url 'pdic:create-tema' %}" class="btn btn-default btn-create">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Adicionar
    </a>
    {% if temas %}
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Assunto</th>
                    <th>Prioridade</th>
                    <th>Ativo</th>
                    {% if request.user.is_authenticated %}
                    <th>Opções</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for tema in temas %}
                    <tr>
                        <td>{{ tema.descricao }}</td>
                        <td>{{ tema.assunto }}</td>
                        <td>{{ tema.prioridade }}</td>
                        <td>
                            {% if tema.ativo %}
                                <i class="fa fa-check" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        {% if request.user.is_authenticated %}
                        <td>
                            <a href="{% url 'pdic:edit-tema' tema.id %}" class="btn btn-primary option-btn">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a href="{% url 'pdic:delete-tema' tema.id %}" class="btn btn-danger option-btn">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há temas cadastrados.</p>
    {% endif %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'pdic:list-temas' %}?page={{ page_obj.previous_page_number }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                {% endif %}
                <span class="page-current">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'pdic:list-temas' %}?page={{ page_obj.next_page_number }}">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
